@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

.datos-personales {
    font-size: 25px;
}

.area-personal-label{
    font-weight: bold;
}

.area-personal-text{
    font-style:italic;
}

#btnDetalle {
    align-items: center;
    text-align: center;
    width: 200%;
}

.control-carousel {
    background: none;
    color: black;
    border: none;
    font-weight: bold;
}

.carousel-item img {
    height: 400px !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

